{:tasks
 {clr-test
  {:doc  "Run all tests on the CLR via Nostrand/Magic"
   :task (shell "nos" "dotnet/run-tests")}

  clr-build
  {:doc  "Compile all production namespaces to .dll via Nostrand/Magic"
   :task (shell "nos" "dotnet/build")}}}
